<div class="managementSection">
   <div class="usersManagement">
        <%= link_to t('admin.index.usersManagement'), usersManagement_admin_path %>
  </div>
  <div class="invoicesManagement">
        <%= link_to t('admin.index.invoicesManagement'), invoicesManagement_admin_path %>
  </div>
  <div class="licencesManagement">
    <%= link_to t('admin.index.licencesManagement'), licencesManagement_admin_path %>
  </div>
  <div class="subscriptionsManagement">
    <%= link_to t('admin.index.subscriptionsManagement'), subscriptionsManagement_admin_path %>
  </div>
  <div class="statistics">
    <%= link_to t('admin.index.statistics'), statistics_admin_path %>
  </div>

</div>
