%h2= t('user_files.changeDirectory.title')

.changeFileDirectory

  .changeFileDirectoryForm
    = form_tag(moveFile_user_files_path, :method=>'post', :multipart => true) do
      .userDirectories
        .text_select_directory
          = t('user_files.changeDirectory.userDirectories_html')
        = select_tag "directory", options_from_collection_for_select(@userDirectories, "id", "name")
      .fileId
        = hidden_field_tag "fileId", params[:fileId]
      .currentDirectory
        = hidden_field_tag "currentDirectory", @currentDirectory
      .submit
        = image_submit_tag t('buttons.save')