- project_name = @current_project.name
- begin
  - project_group_name = ProjectGroup.find_by_id_or_permalink(@current_project.project_group_id).name
- rescue
  - project_group_name = "Sin grupo"

.first_bar
  = t('navigation.header.first_bar.ec_project', :action => t('navigation.sidebar.' + params[:controller].to_s + '.' + params[:action].to_s), :p_name => project_name)
.second_bar
  = t('navigation.header.second_bar.ec_project', :pg_name => project_group_name, :p_name => project_name, :action => t('navigation.sidebar.' + params[:controller].to_s + '.' + params[:action].to_s) )
.third_bar
  - @project = @current_project
  = render 'shared/project_actions'

  .fourth_bar
    = render 'project_groups/new'
    = render 'projects/new'
