.first_bar
  = "Controller: " + params[:controller].to_s
.second_bar
  = "Action: " + params[:action].to_s
.third_bar
  =# "ID: " + current_user.id.to_s
  = "ID: " + params[:id].to_s
.fourth_bar
  = "PROJECT ID: " + params[:project].to_s
.fifth_bar
  = "SUBACTION: " + params[:sub_action].to_s