- if current_user.people == [] and current_user.project_groups == []
  - flash[:error] = t('projects.errors.not_project_group')
  -# redirect_to new_project_group_path
- else
  - @project = Project.new
  - @project.build_organization


  - content_for :current_path do
    .current_path1
      =link_to t('shared.path.project'), @current_project
    .current_path2
      =link_to t('shared.path.project_new'), new_project_path


  = jsProjectFormValidation

  = form_for @project, :html => { :style => 'display: none', :id => 'project_new_form', :class => 'project_new_form', :name => 'form', :onsubmit => 'return validate_project_name(form);' } do |f|

    %h3
      .image= image_tag('/iconos/projects22x22.png')
      .text= t('.title')
      .clear

    %p{ :style => 'margin-left: 10px'}=t '.explain1_html'
    %p{ :style => 'margin-left: 10px'}=t '.explain2_html'


    = project_fields(f,@project)

    =# f.submit t('.submit'), :'data-disable-with' => t('.sending'), :class => 'form_button'
    = image_submit_tag t('buttons.save'), :'data-disable-with' => t('.sending'), :class => 'save_button_without_image'
    .project_cancel_button= link_to_function 'Cancelar', 'Element.hide("project_new_form");', :style => 'color: green; margin-left: 10px'
    .clear


  .clear
