.email{ :style => email_global }

  .header
    %h1
      = image_tag('/images/LogoColcentric1.png', :alt => 'Kinubi')

  = dont_answer

  -#%p= t('emailer.confirm.hey', :user_name => h(@user.name))

  .box{ :style => email_box }
    %p{ :style => email_text(:big) }=raw t('emailer.trial.item3')
    %p{ :style => email_text(:big) }=raw t('emailer.trial.item2')
    %p{ :style => email_text(:big) }
      = link_to t('emailer.trial.user_panel'), @url, :style => inline_organization_link_colour


  %p{ :style => email_text(:small) }
    = t('emailer.confirm.plaintext_link')
    %br
    = link_to @url, @url, :style => inline_organization_link_colour

  .footer{ :style => email_text(:small) }
    -#%p= t('emailer.confirm.report_abuse', :email => @user.email)
    %p
      =# t('emailer.confirm.problems_html', :support => Colcentric.config.support)
      = t('emailer.reset_password.problems')
      = mail_to Colcentric.config.support, Colcentric.config.support, :style => 'color: #008ac0'

