.licence
  .product
    = t('subscriptions.fields.videoconference')

  .quantity
    = @num_videoconferences

  .owner
    = current_user

  .type
    = t('subscriptions.fields.cost.videoconference')

  -#
    .expiration_date
      - if videoconference_subscription.expiration_date
        = videoconference_subscription.expiration_date.strftime("%d-%m-%Y")
      - else
        = " - "
    .cancel_button
      = cancel_videoconference_subscription_link(videoconference_subscription)
