-#
  %h2= t(".title")

.subscriptions
  .purchase
    .Desc_buy_now= t('.subscription_message')
    .button_buy_now= link_to '', buy_shopping_carts_path, :class => 'purchase_button'

  .purchased_products
    .title
      %h2= t('.purchased_products_message_html', :user => current_user)

    .products_titles
      .list= t('.product_list')
      .quantity= t('.quantity')
      .user= t('.user_name_html')
      .type= t('.type')
      .date= t('.expiration_date')

    .sponsor_subscription
      - if current_user.subscription.active? or (current_user.subscription.cancelled? and current_user.subscription.expiration_date and Time.now < current_user.subscription.expiration_date)
        .subscription_row1
          = render @subscription

      - if current_user.has_videoconference_subscription?
        .subscription_row2
          = render 'videoconferences'
        =# render @videoconference_subscription


.subscriptions
  - if @sponsor_subscriptions.any? || @sponsor_subscriptions_unassigned.any?
    .title
      %h2= t('.sponsor_products_message_html')


  - if @sponsor_subscriptions.any?
    .purchased_products
      .title
        =t('.assigned')

      .products_titles
        .list= t('.product_list')
        .quantity= t('.quantity')
        .user= t('.user_name_html')
        /.type= t('.type')
        .type= "Estado"
        .date= t('.renewal')

      .sponsor_subscription
        - num_files = 0
        - @sponsor_subscriptions.each do |i|
          - if num_files % 2 == 0
            - row_class = 'subscription_row1'
            - num_files += 1
          - else
            - row_class = 'subscription_row2'
            - num_files += 1

          %div{ :class => row_class}
            = render i, :number => nil


.subscriptions
  - if @sponsor_subscriptions_unassigned.any?
    .purchased_products
      .title
        =t('.unassigned')

      .products_titles
        .list= t('.product_list')
        .quantity= t('.quantity')
        .user= t('.user_name_html')
        /.type= t('.type')
        .type= "Estado"
        .date= t('.renewal')

      .sponsor_subscription
        - num_files = 0
        - @sponsor_subscriptions_unassigned.each do |sponsor_type|
          - if num_files % 2 == 0
            - row_class = 'calendar_row1'
            - num_files += 1
          - else
            - row_class = 'calendar_row2'
            - num_files += 1

          %div{ :class => row_class}
            = render sponsor_type.second.sort_by{|s| s[:licence_type] || Date.current}.first, :number => sponsor_type.second.length


= render 'subscriptions/assign_sponsor'