.TitlePaso1R
  =t('.signup_title')

- if @invitation_token
  = hidden_field_tag 'invitation', @invitation_token

.first_name.text_field
  = f.label :first_name, t('users.form.first_name')
  = f.text_field :first_name, :autofocus => 'autofocus'
  = errors_for user, :first_name
.last_name.text_field
  = f.label :last_name, t('users.form.last_name')
  = f.text_field :last_name
  = errors_for user, :last_name
.email.text_field
  = f.label :email, t('users.form.email')
  - if (@invitation || @app_link)
    = f.text_field :email, :readonly => 'readonly', :style => 'color: #999'
  - else
    = f.text_field :email
  = errors_for user, :email

-# if @invitation
  .use_this_email{ :style => 'margin: 10px; padding: 10px; border: 1px rgb(220,220,150) solid; background-color: rgb(255,255,200)' }
    = t('.use_this_email')

.phone.text_field
  = f.label :phone, t('users.form.phone')
  = f.text_field :phone
  = errors_for user, :phone
.company_name.text_field
  = f.label :company_name, t('users.form.company_name')
  %span.TxtCampoExp= t('users.form.company_name_explanation')
  = f.text_field :company_name
  = errors_for user, :company_name
.country.text_field.select
  = f.label :country, t('users.form.country')
  .selectPaisReg
    = f.localized_country_select :country, [], :include_blank => t('support.select.prompt')
  = errors_for user, :country
.language.select
  = f.label :locale, t('users.form.language')
  = f.select :locale, locale_select_values
.time_zone.select
  = f.label :time_zone, t('users.form.time_zone')
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)"

-# if @invitation
  .use_this_email{ :style => 'margin: 10px; padding: 10px; border: 1px rgb(220,220,150) solid; background-color: rgb(255,255,200)' }
    = t('.use_this_email')

.TitlePaso2R
  = t('.commercial_code')

.commercial_code.text_field
  %br
  %p
    = t('users.form.new.commercial_code_text_html')
    %br
  = f.label :comercial_code, t('users.form.new.commercial_code')
  = f.text_field :comercial_code
  = errors_for user, :comercial_code

.company_members.select

%fieldset.account
  %legend.TitlePaso3R= t('.account.title')
  %p
    = t('.account.choose_username')
    %br
    = t('.account.validations')
  .login.text_field
    = f.label :login, t('users.form.login')
    = f.text_field :login
    = errors_for user, :login
  .password.text_field
    = f.label :password, t('users.form.password')
    = f.password_field :password, :autocomplete => 'off'
    = errors_for user, :password
  .password.text_field
    = f.label :password_confirmation, t('users.form.confirm_password')
    = f.password_field :password_confirmation, :autocomplete => 'off'
    = errors_for user, :password_confirmation

/ Accept terms of service
.terms_of_use
  = f.check_box :terms_of_use, :as => :boolean
  = f.label :accept_terms, t('users.form.new.accept')
  - if I18n.locale.to_s == "es"
    = link_to t('users.form.new.terms_of_use'), '/terms_of_use_es.html', :target => '_blank'
  - elsif I18n.locale.to_s == "pt"
    = link_to t('users.form.new.terms_of_use'), '/terms_of_use_pt.html', :target => '_blank'
  - else
    = link_to t('users.form.new.terms_of_use'), '/terms_of_use_en.html', :target => '_blank'

  / TO DO POPUP
  =# link_to "Terms of Use",  "http://www.colcentric.com", :popup => ['new_window', 'height=300, width=600']
