- if @current_project
  .task_header
    - if can? :make_task_lists, @current_project
      = task_list_link(@current_project)

    %br
    %br

    %p.text_actions

  = filter_task_lists

  - if can? :make_task_lists, @current_project
    = task_list_form(@current_project,TaskList.new)

  #task_lists{:class => 'task_lists'}
    -@task_lists.each do |tl|
      .task_list_container{ :id => task_list_id(nil,@current_project,tl), :class => (tl.archived ? 'archived' : nil) }
        - if tl.has_at_least_one_task(responsible_code(@responsible), date_code(@date), @current_user_id)
          .task_list{ :id => task_list_id(:with_main_tasks,@current_project,tl), :action_url => project_task_list_path(@current_project,tl), :'data-task-list-id' => tl.id }
            %h2= task_list_index_header(@current_project, tl)
            .tasks.open{ :id => task_list_id(:the_main_tasks,@current_project,tl) }
              - if !tl.archived
                - tasks = Task.where(:task_list_id => tl.id)
                - tasks.each do |t|
                  - if (t.has_responsible_and_date(responsible_code(@responsible), date_code(@date), @current_user_id))
                    = render t, :editable => true
            - if task_list_editable?(tl, @current_user)
              .new_task
                = link_to image_tag(t('buttons.create_task')), [:new, @current_project, tl, :task]
                = render 'tasks/form', :project => @current_project, :task_list => tl, :task => tl.tasks.build

                -#
                  %span{ :id => task_list_id(:archive_link,project,task_list), :style => (show_archive_link ? nil : 'display:none') }
                %span{ :id => task_list_id(:archive_link,@current_project, tl) }
                  = archive_task_list_link(@current_project, tl, true)
                  .clear