%h2= @form.title
%p=h @form.description
%br
%br

- form_tag(update_fields_form_path, :method => :post) do
  = hidden_field_tag :user_id, current_user.id
  = hidden_field_tag :form_id, @form.id
  = hidden_field_tag :project_permalink, @current_project.permalink
  = hidden_field_tag :result, @result

  - @fields.each do |field|
    - result = Result.where(:field_id => field.id, :user_id => current_user.id, :result => @result).first

    - case field.field_type
    - when 0
      .form_title_answer= label_tag field.name
      .form_text_field_user= text_field_tag "field_" + field.id.to_s, result.value
      %br
      %br

    - when 1
      - @options = field.form_options
      .form_title_answer= label_tag field.name
      - names = Array.new
      - @options.each do |o|
        - names << o.name
      = select_tag "field_" + field.id.to_s, options_for_select(names.each { |n| [n,n] }, result.value )
      %br
      %br

    - when 2
      .form_title_answer= label_tag field.name
      - if result.value == "Yes"
        = check_box_tag "field_" + field.id.to_s, 1, 1
      - else
        = check_box_tag "field_" + field.id.to_s, 1
      %br
      %br

    - when 3
      - if result.value.at(1) == '-' and result.value.at(3) == '-'
        - day = result.value.at(0).to_i
        - month = result.value.at(2).to_i
        - year = result.value[4..7].to_i
      - elsif result.value.at(1) == '-' and result.value.at(4) == '-'
        - day = result.value.at(0).to_i
        - month = result.value[2..3].to_i
        - year = result.value[5..8].to_i
      - elsif result.value.at(2) == '-' and result.value.at(4) == '-'
        - day = result.value[0..1].to_i
        - month = result.value.at(3).to_i
        - year = result.value[5..8].to_i
      - elsif result.value.at(2) == '-' and result.value.at(5) == '-'
        - day = result.value[0..1].to_i
        - month = result.value[3..4].to_i
        - year = result.value[6..9].to_i
      - else
        - day = Time.now.day
        - month = Time.now.month
        - year = Time.now.year

      .form_title_answer= label_tag field.name


      = select_tag "field_" + field.id.to_s + "_day", options_for_select((1..31).each { |num| [num,num]}, day )
      = select_tag "field_" + field.id.to_s + "_month", options_for_select((1..12).each { |num| [num,num]}, month )
      = select_tag "field_" + field.id.to_s + "_year", options_for_select((1900..2100).each { |num| [num,num]}, year )
      %br
      %br

  = image_submit_tag t('buttons.save'), :class => 'save_button_without_image'


.form_back_button{ :style => 'margin-top: 22px'}= link_to t('forms.edit_fields.back'), list_answers_form_path(:id => @form.id, :project_permalink => @current_project.permalink), :class => 'text_button', :style => 'margin-left: 8px'